*{
    color: white;
}

body {
    background-color: darkcyan;
}

header {
    background-image: url("../images/headerbackground.jpeg.jpg");
    padding: 1%;
}

#picture-me {
    height: 250px;
    width: 225px;
}

footer {
    background-image: url("../images/headerbackground.jpeg.jpg");
    padding: 1%;
}

.contact{ 
    margin: 10px;
}

figcaption {
    background-color: black;

}

#my-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.first-project{
    
    height: 250px;
    width: 400px;
    contain: content;
}

.auxillary {
    
    height: 250px;
    width: 250px;
    contain: content;

}

