*{
    color: white;
}

body {
    background-color: fuchsia;
}

header {
    background-image: url("../images/headerbackground.jpeg.jpg");
    padding: 1%;
}

main img {
    width: 10%;
}

footer {
    background-image: url("../images/headerbackground.jpeg.jpg");
    padding: 1%;
}

a {
    margin: 5px;
}

main {
    display: flex;
}

figcaption {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.my-work {
    background-color: black;
}

div {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    
}

@media screen and (max-width: 768px) {

    main {
        display: inline-block;
        flex-wrap: wrap;
    }

    .first-project {
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
    }

    .auxillary {
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50%;
    }
}